.accent {
  color: #60A9F0;
}

.shadow {
	text-shadow: 1px 1px #000;
}

.hello {
	color: #66CCFF;
}

.sk-spinner-wordpress.sk-spinner {
  background-color: #3366CC;
}

header hr {
  border-color: #3366CC;
}

/* about section */
.about {
  background: #fff;
  box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
}

/* skills section */
.skills {
  background: #3366CC;
  color: #f5f5f5;
}
.skills .progress {
  border-radius: 0px;
  height: 4px;
}
.skills .progress .progress-bar-primary {
  background: #204090;
}
.skills strong {
  display: inline-block;
  font-weight: normal;
  padding-bottom: 6px;
}

.education {
  background: #3366CC;
  color: #f5f5f5;
}

/* contact section */
.contact {
  background: #fff;
 box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
}
.contact .fa {
  padding-right: 6px;
}

/* experience section */
.experience {
  background: #3366CC;
  color: #f5f5f5;
}
.experience .experience-content {
  padding-bottom: 14px;
}
.experience h5 {
  display: inline-block;
}
.experience span {
  padding-right: 10px;
  padding-left: 20px;
}

/* footer section */
footer {
  color: #f9f9f9;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 100px;
}

/* social icon section */
.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  list-style: none;
}
.social-icons li a {
  background: #3366CC;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease-in;
  position: relative;
  bottom: 10px;
  top: 10px;
}
.social-icons li a:hover {
  background: #202020;
  color: #fff;
}
