.accent {
  color: #FFA943;
}

.shadow {
	text-shadow: 1px 1px #000;
}

.hello-title {
	color: #FF9933;
}

/* preloader section */
.spinner-wordpress.spinner {
  background-color: #C60;
}

header hr {
  border-color: #C60;
}

/* about section */
.about {
  background: #fff;
  box-shadow: 0px 1px 5px rgba(50,50,50,0.08);
}

/* skills section */
.skills {
  background: #C60;
}
.skills .progress .progress-bar-primary {
  background: #840;
}

.education {
  background: #C60;
}

/* experience section */
.experience {
  background: #C60;
}

/* social icon section */
.icons .fa {
  background: #C60;
}
